/* side-menu.css */
.sidebar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 220px;
  position: fixed;
  left: 0;
  /* Adjust these values to match your header and footer heights */
  top: 60px;
  bottom: 60px;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if content exceeds available space */
}

.sidebar nav a {
  display: flex;
  align-items: center;
  color: rgb(13, 10, 10);
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar nav a.active {
  background-color: #007bff;
  color: white;
}

.sidebar nav a svg {
  margin-right: 10px;
}

.sidebar nav a:hover {
  background-color: #007bff;
}
