.main-content {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1200px;
}


app-side-menu {
  flex: 0 0 220px;
}

.main-content:has(app-side-menu:not()) .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

router-outlet {
  margin-left: -30px;
}