body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 100px;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .user-type-professional {
    margin-left: 5px;
    border: 2px solid rgb(144, 238, 144); /* Bordure avec la couleur souhaitée */
    background-color: rgb(144, 238, 144); /* Couleur de fond vert clair */
    font-weight: normal; /* Texte non gras */
    border-radius: 10px; /* Coins arrondis */
    padding: 2px; /* Ajoute un espace interne pour un meilleur rendu */
  }
  
  .offer-card .offer-actions{
    margin-left: 50px;
    
  }
  
  .offer-card .offer-actions .btn-btn-secondary{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid  rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    margin-left: 30px;
  }
  
  .offer-card .offer-actions .btn-btn-primary{
    height: 30px;
  
    width: 100px;
    border-radius: 10px;
    border: 3px solid  rgba(0, 0, 0, 0.05);
    background-color: #2196f3;
    margin-left: 30px;
    color: white;
  }
  
  .offer-timestamp{
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .offer-details .qt{
    margin-top: 10px;
  }
  
  .offer-details .val {
    font-weight: bold !important; 
    font-size: 16px;
  }
  
  
  
  .app-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  
    color: white;
    width: 220px;
    padding: 20px;
  }
  
  .sidebar nav a {
    display: block;
    color: rgb(13, 10, 10);
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar nav a.active,
  .sidebar nav a:hover {
    background-color: #007bff;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .search-filters-container {
    margin-left: 60px;  background-color: #fff;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  
    display: flex;
    flex-direction: column;
  }
  
  .search-bar {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar .btn-search {
    background-color: #007bff;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filters {
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .filter-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    margin-left: 60px;
  }
  
  .market-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
  }
  
  .stat-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
  }
  
  .stat-card h3 {
    margin-bottom: 10px;
  
  }
  
  .stat-card .value {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  .market-overview {
    margin-top: 5px;
    margin-left: 60px;
  
  }
  
  .market-overview .of{
    margin-top: 30px;
  }
  
  .market-actions button {
    margin-left: 1080px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgb(72, 220, 74);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .offers-grid {
    margin-left: 60px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .offer-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .offer-card .user-info {
    display: flex;
    align-items: center;
  }
  
  .offer-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .offer-card .name-badge {
    font-size: 16px;
    font-weight: bold;
  }
  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .pagination-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-info {
    padding: 10px;
    font-size: 16px;
  }
  
  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  